---
# Namespace for microservices
apiVersion: v1
kind: Namespace
metadata:
  name: microservices
  labels:
    name: microservices

---
# Namespace for Kong API Gateway
apiVersion: v1
kind: Namespace
metadata:
  name: kong
  labels:
    name: kong
